@model DBProject.Models.Actor

@{
    ViewBag.Title = "AddActor";
}

<h2>Add Actor</h2>

@using (Html.BeginForm("AddActorConfirmation", "Home", FormMethod.Post, new { @onsubmit = "return addActorValidation();" }))
{
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.Name)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(m => m.Gender)
        </div>
        <div class="col-sm-8">
            @Html.RadioButtonFor(m => m.Gender, "Male")
            @Html.Label("Male")
            @Html.RadioButtonFor(m => m.Gender, "Female")
            @Html.Label("Female")
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            @Html.LabelFor(m => m.Rating)
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.Rating)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="submit" value="ADD ACTOR" />
        </div>
    </div>
</div>
}
