@model DBProject.Models.Movie
@{
    ViewBag.Title = "AddMovieConfirmation";
}

<h2>Add Movie Confirmation</h2>
<div class="container">
    <div class="row">
        <p>Title: @Model.Title</p>
    </div>
    <div class="row">
        <p>Producer: @Model.Producer</p>
    </div>
    <div class="row">
        <p>Release Year: @Model.ReleaseYear</p>
    </div>
    <div class="row">
        <p>Run Time (in minutes): @Model.RunTime</p>
    </div>
    <div class="row">
        <p>Budget: @Model.Budget</p>
    </div>
    <div class="row">
        <p>Gross: @Model.Gross</p>
    </div>
    <div class="row">
        <p>Rating: @Model.Rating</p>
    </div>
</div>