@model DBProject.Models.Movie
@{
    ViewBag.Title = "AddMovie";
}

<h2>Add Movie</h2>

@using (Html.BeginForm("AddMovieConfirmation", "Home", FormMethod.Post, new { @onsubmit = "return addMovieValidation();" }))
{
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.Title)
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Title, new { @id = "titleField" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.Producer)
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Producer, new { @id = "producerField" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.ReleaseYear)
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.ReleaseYear, new { @id = "yearField" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.RunTime) (in minutes)
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.RunTime, new { @id = "timeField" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.Budget)
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Budget, new { @id = "budgetField" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.Gross)
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Gross, new { @id = "grossField" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.Rating)
            </div>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Rating, new { @id = "ratingField" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" value="ADD MOVIE" />
            </div>
        </div>
    </div>
}


